<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>	
		<title><%= yield :title %></title>
		<%= render 'layouts/stylesheets' %>
	</head>
	<body>
		<div class="container">
			<%= yield %>
		</div>
	</body>
</html>